mixin radio(options)

  -
    if (typeof(options) === 'undefined') {
      var options = {};
    }

    if (typeof(options.modifiers) !== 'undefined' && options.modifiers) {
      var allModifiers = options.modifiers.map(function(val) {
        return 'radio--' + val;
      });
    }

  .radio(class=allModifiers)&attributes(attributes)
    label.radio__label
      input.radio__input(type='radio')&attributes(options.attrs)
      span.radio__text!= options.title