.breadcrumb {

  &__list {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
  }

  &__item {
    display: flex;
    flex-flow: row nowrap;
  }

  &__link {
    display: block;
    color: currentcolor;
    text-decoration: none;
  }
}
