mixin breadcrumbs(options)

  -
    if (typeof(options) === 'undefined') {
      var options = {};
    }

    if (typeof(options.modifiers) !== 'undefined' && options.modifiers) {
      var allModifiers = options.modifiers.map(function(val) {
        return 'breadcrumbs--' + val;
      });
    }

  .breadcrumbs(class=allModifiers)&attributes(attributes)
    ul.breadcrumbs__list

      each item in options.items
        li.breadcrumbs__item
          a.breadcrumbs__link(href=item.link)!= item.title