.s-breadcrumbs {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: calc(var(--section-padding) / 4);
  margin-bottom: calc(var(--section-padding) / 4);
  border-bottom: 1px solid var(--border-color);

  @media (max-width: ($screen-sm - 1px)) {
    display: none;
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    margin-right: calc(var(--container-padding) * 2);
    list-style: none;
  }

  &__item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 12px;
    line-height: 130%;

    &:not(:last-child) {
      margin-right: calc(var(--container-padding) / 2);

      &::after {
        display: block;
        padding-left: calc(var(--container-padding) / 2);
        content: '/';
        opacity: 0.4;
      }
    }
  }

  &__link {
    display: block;
    color: currentcolor;
    text-decoration: none;
    opacity: 0.4;

    &[href] {
      position: relative;
      opacity: 1;

      &::after {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        height: 1px;
        content: '';
        background-color: currentcolor;
        opacity: 0.2;
        transition: transform 0.4s var(--animation-smooth);
        transform: scale3d(1, 1, 1);
        transform-origin: 0% 50%;
      }

      &:hover {

        &::after {
          transform: scale3d(0, 1, 1);
          transform-origin: 100% 50%;
        }
      }
    }
  }
}
