mixin page-header(options)

  -
    if (typeof(options) === 'undefined') {
      var options = {};
    }

    if (typeof(options.modifiers) !== 'undefined' && options.modifiers) {
      var allModifiers = options.modifiers.map(function(val) {
        return 'page-header--' + val;
      });
    }

  header.page-header(class=allModifiers)&attributes(attributes)
