mixin page-header(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-page-header--' + modsList[i].trim();
      }
    }

  header.s-page-header(class=allMods)&attributes(attributes)
    .s-page-header__inner
      block
