.checkbox {
  $block-name: &;
  display: block;

  &__label {
    position: relative;
    display: inline-block;
    padding-left: 1.5em;
    margin-right: 0.6em;
    font-weight: 400;
  }

  &__text {
    display: inline-block;

    // @at-root input:disabled ~ & {
    //   cursor: not-allowed;
    // }

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      content: '';
      border: 1px solid currentcolor;
      border-radius: var(--border-radius);

      // @at-root input:focus ~ & {

      // }

      // @at-root input:disabled ~ & {

      // }
    }

    &:after {
      position: absolute;
      top: 6px;
      left: 3px;
      width: 14px;
      height: 6px;
      content: '';
      border-bottom: 1px solid currentcolor;
      border-left: 1px solid currentcolor;

      // @at-root input:checked ~ & {

      // }

      // @at-root input:checked:disabled ~ & {

      // }
    }
  }

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
  }
}
