mixin btn(options = {})

  - const allModifiers = options.modifiers?.map(modifier => `btn--${modifier}`).join(' ');

  #{options.href ? 'a' : 'button'}.btn(href=options.href, class=allModifiers)&attributes(attributes)= options.title