mixin btn(options)

  -
    if (typeof(options) === 'undefined') {
      var options = {};
    }

    if (typeof(options.modifiers) !== 'undefined' && options.modifiers) {
      var allModifiers = options.modifiers.map(function(val) {
        return 'btn--' + val;
      });
    }

  if (options.href)
    a.btn(href=options.href, class=allModifiers)&attributes(attributes)!= options.title

  else
    button.btn(class=allModifiers)&attributes(attributes)!= options.title