mixin btn(options)

  -
    if (typeof(options) === 'undefined') {
      var options = {};
    }

    if (typeof(options.modifiers) !== 'undefined' && options.modifiers) {
      var allModifiers = options.modifiers.map(function(val) {
        return 'btn--' + val;
      });
    }

  #{options.href ? 'a' : 'button'}.btn(href=options.href, class=allModifiers)&attributes(attributes)= options.title