.btn {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  margin: 0;
  overflow: hidden;
  font-family: var(--font);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: currentcolor;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  background-image: none;
  border: none;
  border-radius: 40px;
  transition: 0.25s var(--animation-fast);
}
