mixin field-rating(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' field-rating--' + modsList[i].trim();
      }
    }

  .field-rating(class=allMods)
    span.field-rating__title Ваша оценка
    span.field-rating__wrap
      input.field-rating__input(type='radio', name='rating', id='rating-1')
      input.field-rating__input(type='radio', name='rating', id='rating-2')
      input.field-rating__input(type='radio', name='rating', id='rating-3')
      input.field-rating__input(type='radio', name='rating', id='rating-4')
      input.field-rating__input(type='radio', name='rating', id='rating-5')
      label.field-rating__label(for='rating-1')
        svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 16 16', width='16', height='16')
          path( d='M8 0L6.05405 6.01418 0 6.12766l4.86486 3.85816L3.13514 16 8 12.3688 12.973 16l-1.7298-6.01418L16 6.12766l-5.9459-.11348L8 0z')
      label.field-rating__label(for='rating-2')
        svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 16 16', width='16', height='16')
          path( d='M8 0L6.05405 6.01418 0 6.12766l4.86486 3.85816L3.13514 16 8 12.3688 12.973 16l-1.7298-6.01418L16 6.12766l-5.9459-.11348L8 0z')
      label.field-rating__label(for='rating-3')
        svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 16 16', width='16', height='16')
          path( d='M8 0L6.05405 6.01418 0 6.12766l4.86486 3.85816L3.13514 16 8 12.3688 12.973 16l-1.7298-6.01418L16 6.12766l-5.9459-.11348L8 0z')
      label.field-rating__label(for='rating-4')
        svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 16 16', width='16', height='16')
          path( d='M8 0L6.05405 6.01418 0 6.12766l4.86486 3.85816L3.13514 16 8 12.3688 12.973 16l-1.7298-6.01418L16 6.12766l-5.9459-.11348L8 0z')
      label.field-rating__label(for='rating-5')
        svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 16 16', width='16', height='16')
          path( d='M8 0L6.05405 6.01418 0 6.12766l4.86486 3.85816L3.13514 16 8 12.3688 12.973 16l-1.7298-6.01418L16 6.12766l-5.9459-.11348L8 0z')

