head

  //- UTF-8 is a character set including many universal characters.
  //- This is an essential tag for all websites, to avoid seeing weird boxes like ▢▢▢.
  meta(charset='utf-8')

  //- This critical tag ensures that items on the screen scale correctly on mobile devices.
  //- Without this tag, content may appear VERY tiny.
  meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

  //- Set your name and a brief description.
  //- Used by search engines.
  meta(name='author', content='')
  meta(name='description', content='')

  //- Control the behavior of search engine crawling and indexing
  meta(name='robots', content='index, follow')

  //- `og` stands for Open Graph, which is a protocol for how your website appears when linked to from another site.
  //- These tags are critical to ensuring your site gains an appropriate card when sharing on social media.
  meta(property='og:title', content='')
  meta(property='og:description', content='')
  meta(property='og:type', content='website')
  meta(property='og:image', content='')
  meta(property='og:url', content='')
  meta(property='og:site_name', content='')

  //- `twitter` is similar to Open Graph, but specific to Twitter.
  //- There are multiple card types you can choose from.
  //- Learn more on Twitter's documentation:
  //- https://developer.twitter.com/en/docs/tweets/optimize-with-cards/guides/getting-started
  meta(name='twitter:card', content='')
  meta(name='twitter:image:alt', content='')

  //- This title shows up in the page's tab, next to the favico
  title= title

  //- Include one or more CSS files
  link(rel='stylesheet', href='css/style.css')

  //- A favicon is the small picture that shows up in the browser's tab.
  //- Historically, these used a proprietary ".ico" format, and you needed to provide many different sizes.
  //- Happily, you can now provide a single vector graphic in SVG format.
  //- It will scale to any size, and still look crisp.
  link(rel='icon', type='image/svg+xml', href='/')

  script.
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');