include mixins.pug
block variables

doctype html
html(class='no-js page', lang='ru')

  include head.pug

  body.page__body(data-barba='wrapper')
    noscript JavaScript is disabled

    .page__sprite-svg
      include ./../blocks/sprite-svg/img/sprite.svg

    .page__inner
      main.page__content(data-barba='container', data-barba-namespace=namespace)
        block header
          +page-header

        block content
          p Page Content

      .page__footer-wrapper
        block footer
          +page-footer

    block page-bottom
      script(src='js/main.js')
