include ../blocks/btn/btn.pug
include ../blocks/field-actions/field-actions.pug
include ../blocks/field-checkbox/field-checkbox.pug
include ../blocks/field-radio/field-radio.pug
include ../blocks/field-rating/field-rating.pug
include ../blocks/field-search/field-search.pug
include ../blocks/field-text/field-text.pug
include ../blocks/form/form.pug
include ../blocks/page-footer/page-footer.pug
include ../blocks/page-header/page-header.pug
