extends ../pug/layout.pug

append variables
  - const title = 'Index'
  - const namespace = 'home'

block header
  +page-header({
    modifiers: ['fixed', 'dark']
  })

block content
  +btn({
    title: 'Title',
    href: '/',
    modifiers: [
      'small'
    ]
  })

  +checkbox({
    title: 'Checkbox',
    attrs: {
      id: 'privacy',
      checked: 'checked'
    },
    modifiers: [
      'small', 'light'
    ]
  })

  +radio({
    title: 'Radio',
    attrs: {
      id: 'privacy',
      checked: 'checked'
    },
    modifiers: [
      'small', 'light'
    ]
  })

  +select({
    options: [
      { title: 'Option 1' },
      { title: 'Option 2' }
    ]
  })

block footer
  +page-footer({
    modifiers: ['fixed', 'dark']
  })