mixin page-footer(options)

  -
    if (typeof(options) === 'undefined') {
      var options = {};
    }

    if (typeof(options.modifiers) !== 'undefined' && options.modifiers) {
      var allModifiers = options.modifiers.map(function(val) {
        return 'page-footer--' + val;
      });
    }

  footer.page-footer(class=allModifiers)&attributes(attributes)
