:root {
  --ease: cubic-bezier(0.15, 0.85, 0.45, 1);
  --ease-faster: cubic-bezier(0.075, 0.82, 0.165, 1);
  --container: 1400px;
  --container-narrow: 1000px;
  --section-padding: clamp(4em, 25vh, 12em);
  --container-padding: clamp(2em, 10vw, 4em);
  --gap: calc(var(--container-padding) / 2);
  --border-radius: 16px;
  --outline-size: max(2px, 0.15em);
}