/* stylelint-disable */
@at-root {

  @-ms-viewport {
    width: device-width;
  }
}
/* stylelint-enable */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

[tabindex='-1']:focus {
  outline: none !important;
}

[role='button'] {
  cursor: pointer;
}

[type='search']::-webkit-search-decoration {
  appearance: none;
}

html, body {
  height: 100%;
}

body {
  font-family: var(--font);
  background-color: var(--white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

#root, #__next {
  isolation: isolate;
}


a, button, [role='button'], input, label, select, textarea {
  margin: 0;
  touch-action: manipulation;
}

button, input {
  overflow: visible;
  text-transform: none;
}

button, html [type='button'], [type='reset'], [type='submit'] {
  appearance: button;
}

button::-moz-focus-inner, [type='button']::-moz-focus-inner, [type='reset']::-moz-focus-inner, [type='submit']::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type='date'], input[type='time'], input[type='datetime-local'], input[type='month'] {
  appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

svg {
  fill: currentColor;

  a &,
  button & {
    pointer-events: none;
  }

  &:not(:root) {
    overflow: hidden;
  }
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

h1, .heading-1 {
  font-family: var(--font-serif);
  font-size: var(--ms6);
  line-height: 0.9em;
  letter-spacing: -0.01em;
}

h2, .heading-2 {
  font-size: var(--ms5);
  line-height: 0.9em;
  letter-spacing: -0.01em;
}

h3, .heading-3 {
  font-size: var(--ms4);
}

h4, .heading-4 {
  font-size: var(--ms4);
}


p {

  & + & {
    // margin-top: 1em;
  }
}