/* stylelint-disable */
@at-root {

  @-ms-viewport {
    width: device-width;
  }
}
/* stylelint-enable */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

[tabindex='-1']:focus {
  outline: none !important;
}

[role='button'] {
  cursor: pointer;
}

[type='search']::-webkit-search-decoration {
  appearance: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: var(--font);
  background-color: var(--white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea,
select {
  font: inherit;
}

a,
button,
[role='button'],
input,
label,
select,
textarea {
  touch-action: manipulation;
}

button,
input {
  overflow: visible;
  text-transform: none;
}

button,
html [type='button'],
[type='reset'],
[type='submit'] {
  appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type='date'],
input[type='time'],
input[type='datetime-local'],
input[type='month'] {
  appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

img {
  height: auto;
}

svg {

  a &,
  button & {
    pointer-events: none;
  }

  &:not(:root) {
    overflow: hidden;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

address {
  font-style: normal;
}

li {
  line-height: inherit;
}

ol {
  list-style-type: none;
  counter-reset: numeric;

  li {

    &::before {
      content: counters(numeric, '.') '. ';
      counter-increment: numeric;
      font-variant-numeric: tabular-nums;
    }
  }
}

b,
strong {
  font-weight: bolder;
}

blockquote {
  padding: 0;
}
