:root {
  --font-family: ui-sans-serif, system-ui, sans-serif;
  --base-font-size: 1rem;
  --base-line-height: 1.4;
  --ratio: 1.414;

  /* Loop through negative font sizes */
  @for $i from -2 through -1 {
    $next-size: $i + 1;
    --font-size-#{$i}: var(--font-size-#{$next-size}) / var(--ratio);
  }

  /* Loop through positive font sizes */
  @for $i from 0 through 6 {
    $previous-size: $i - 1;

    /* Set base font size */
    @if $i == 0 {
      --font-size-#{$i}: var(--base-font-size);
    }
    /* Calculate font sizes based on ratio */
    @else {
      --font-size-#{$i}: var(--font-size-#{$previous-size}) * var(--ratio);
    }
  }
}