:root {
  --font-family: ui-sans-serif, system-ui, sans-serif;
  --base-font-size: 1rem;
  --base-line-height: 1.5;
  --ratio: 1.414;

  // Loop to scale CSS font size variables down
  @for $i from -2 through -1 {
    $previous--ms: $i + 1;
    --font-size-#{$i}: calc(var(--font-size-#{$previous--ms}) / var(--ratio));
  }

  // Loop to scale CSS font size variables up
  @for $i from 0 through 7 {
    @if $i == 0 {
      --font-size-#{$i}: var(--base-font-size);
    } @else {
      --font-size-#{$i}: calc(var(--font-size-#{$next--ms}) * var(--ratio));
    }
    $next--ms: $i;
  }
}