// Breakpoints
$screen-xs: 576px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1440px;
$screen-xxl: 1920px;

// Root
:root {
  --color-black: #1b1b1b;
  --color-gray-900: #363530;
  --color-gray-700: #66645c;
  --color-gray-500: #989582;
  --color-gray-300: #cfcdbe;
  --color-gray-100: #f6f6f3;
  --color-white: #fff;
  --color-primary-500: #fdc239;
  --color-primary-700: #996c02;
  --color-info: #3974fd;

  --section-padding: 128px;
  --container-padding: 24px;
  --container: 1200px;
  --gap: 24px;

  --font: 'Inter Variable', sans-serif;

  --border-color: var(--color-gray-300);

  --animation-fast: cubic-bezier(0.1, 0.6, 0.2, 1);
  --animation-smooth: cubic-bezier(0.2, 0.8, 0.1, 1);

  @media (max-width: ($screen-sm - 1px)) {
    --container-padding: 16px;
    --section-padding: 64px;
    --gap: 16px;
  }
}
