mixin select(options)

  -
    if (typeof(options) === 'undefined') {
      var options = {};
    }

    if (typeof(options.modifiers) !== 'undefined' && options.modifiers) {
      var allModifiers = options.modifiers.map(function(val) {
        return 'select--' + val;
      });
    }

  .select(class=allModifiers)&attributes(attributes)
    select.s-select__select

      if (options.options)
        each option in options.options
          option&attributes(option.attrs)= option.title
