mixin field-checkbox(checkboxes, title)

  .field-checkbox&attributes(attributes)

    each checkbox in checkboxes

      -
        var allMods = '';
        if (typeof(checkbox.mods) !== 'undefined' && checkbox.mods) {
          var modsList = checkbox.mods.split(',');
          for (var i = 0; i < modsList.length; i++) {
            allMods = allMods + ' field-checkbox--' + modsList[i].trim();
          }
        }

      label.field-checkbox__label(class=allMods)
        input.field-checkbox__input(type='checkbox')&attributes(checkbox.attrs)
        span.field-checkbox__text!= checkbox.title